
host = e.g. localhost
port =  PORT NUMBER ON WHICH YOU WANT TO RUN THIS APPLICATION
db_name = 'postgres'
password = 'YOUR PASSWORD FOR postgres'
database = DATABASE NAME
synchronize = true

salt_value = 10
JWT_secret = "JWT secret"


//Send OTP through email, credentials
email_user = abc@gmail.com
email_password = "your app password"


//Sign in with google credentials
client_secret = "Client secret text"
client_id = "client id "

